
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Minimize risk. Maximize outcomes.</h1>


<p>
    A future ready workforce built on trust
    Discover in a short demo why 77 million users worldwide rely on Cornerstone to secure and protect their people and organizational data.
</p>